{% extends "base.html" %}
{% load static %}

{% block content %}
                <div class="container-fluid">
                    <div class="text-center mt-5">
                        <div class="error mx-auto" data-text="404">
                            <p class="text-secondary-emphasis m-0">404</p>
                        </div>
                        <p class="text-secondary-emphasis mb-5 lead">Page Not Found</p>
                        <p class="text-secondary mb-0">It looks like you can't find your food... It seems no eating today :&lt;</p>
                        <div class="row">
                            <div class="col d-xxl-flex justify-content-xxl-center">
                                <div class="text-center d-xxl-flex justify-content-xxl-center align-items-xxl-center" data-bss-hover-animate="tada" style="width: 100px;height: 100px;background: url(&quot;assets/img/panda-jumpscare.png&quot;) no-repeat;background-size: cover;"></div>
                            </div>
                        </div><a href="/">← Back to Dashboard</a>
                    </div>
                </div>
{% endblock %}
